<html>
<head>
</head>

<body>

<h1 class="header">Week 5 Product app</h1>

<div class="cart-droppable-area">
	<i class="cart-icon fa fa-shopping-cart fa-5x">Shopping Cart</i>
	drag items here to add to cart
	<div class="cart-table">
	  <table>
			<th>Product Name</th><th>QTY</th><th>Unit Price</th><th>Full Price</th>
			
			
			<tr>
			  <td> Product Image Small </td>
			  <td> <%= text_field_tag(:qty, 1 ,size: 10 ) %> </td>
			  <td> $499 </td>
			  <td> $499 </td>
			</tr>
			


	  </table>
	</div>
</div>

<div class="grid-container">
	
	<% @products.each do |product| %>

	  <div class="product-container" draggable="true" >
	  
	  	<div class="product-title">
	  		<i class="fa fa-scissors"></i>
	  		<%= product.name %>
	  	</div>
	  	
	  	<div class="image-container">
	  		 <%= image_tag( product.picture ,  size: "100x100" , alt: product.name, :class => 'product-image') %>
	 	</div>	
	 	
	    <div class="product-price">
	 		<%= number_to_currency(product.cost) %>
	  	</div>

	  	<div class="product-buttons">
		  	<!-- Add to Cart Button -->
			<ul>
				<li class="add-to-cart">
					<a href=""> <i class="fa fa-plus"></i>Add to Cart </a>
				</li>	

			  	<!-- Product Details -->
				<li class="product-details">
					<a href="#"> <i class="fa fa-info-circle"></i>Product Details </a>
				</li>

				<!-- Show Product Details -->
				<li class="show-details">
					<%= product.description %>
				</li>
			</ul>
	  	</div>
	  
	  </div>
	<% end %>
	

</div>

</body>
</html>